/* General Styles */

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/004background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: rgb(19, 5, 5);
    opacity: 0.6;
    z-index: -1;
}

.container {
    margin-top: 20px;
}

.project-section {
    margin-bottom: 30px;
}

/* Navbar */
.navbar {
    background-color: #000000 !important;
}

.navbar-brand img {
    height: 80%;
    margin-right: 15px;
    margin-left: 70px;
    margin-bottom: 15px;
    padding: 5px;
}

/* Page Header */
h1 img {
    height: 50px;
    margin-right: 10px;
    margin-left: 25px;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3000px;
    max-width: 5000px;
    margin-left: -300px;
    margin-right: 500px;
    overflow: hidden;
    padding: 20px;
}

.chart {
    margin-top: -5px;
}


